.Form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
    padding: 2rem;
    margin: 0;
    justify-content: flex-start;
    align-items: center;
}

.Fields {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.Button {
    padding: .75rem 1.75rem !important;
}

