.Link {
    text-decoration: none;
    color: inherit; /* or any color you prefer */
}

.Content {
    display: flex;
    align-items: center;
    gap: .3rem;
    font-size: x-large;
}

.Content:hover{
    cursor: pointer;
    color: darkgreen;
}
